@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/* =============================================================================
  LOGO E AGORA?
============================================================================= */
.logo{
  position: fixed;
  z-index: 2;
  margin-top: 1%;
  margin-left: 1%;
  opacity: .8;
  border-radius: 50%;
}


/* =============================================================================
  E AGORA? E CADASTRAR SERVIÇO 
============================================================================= */
.cont {
  position:relative;
  z-index: 2;
  text-align: center;
  margin-top: -400px;
  top: 50%;
  transform: translateY(-50%);

}

.cont__heading {
  opacity: 0.5;
  z-index: 2;
  color: #ffffff;
  margin-bottom: 40px;
  
}

.cont__cta {
  display: ILI;
  margin: 0;
  color: #2980b9;
  font-weight: bold;
  font-size: 22px;
  z-index: 10;
  text-decoration: none;
  border: solid 5px #2980b9;
}

/* =============================================================================
  IMAGE BUTTON PLAY STORE
============================================================================= */
.image_button{
  position:fixed;
  width:60px;
  z-index: 2;
  margin: 0 auto;
  height:60px;  
  border-radius:50px;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #3498db;
    border-color: #2980b9;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d00;
    opacity: .3;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/eagora_slide_1.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/eagora_slide_2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/eagora_slide_3.jpg);
}
.fade-carousel .slides .slide-4 {
  background-image: url(../img/eagora_slide_4.jpg);
}
.fade-carousel .slides .slide-5 {
  background-image: url(../img/eagora_slide_5.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.logo{
  width: 75px;
  height: 75px;
}

.cont{
  margin-top: -370px;
}

.cont__heading {
    font-size: 150px;
}

.cont__cta{
    padding: 15px 48px;
}

.image_button{
    bottom:0px;
    right:75px;
}

.image_button_image{
  width:125px;
  height:45px;
}

@media all and (max-device-width: 720px){
  .logo{
    width: 65px;
    height:65px;
  }

  .cont{
    margin-top: -335px;
  }

  .cont__heading {
      font-size: 110px;
  }

  .cont__cta{
    padding: 11px 36px;
  }

  .image_button_image{
    width:111px;
    height:40px;
  }

  .image_button{
    bottom: 0px;
    right:60px;
  }
}

@media all and (max-device-width: 640px){
  .logo{
    width: 55px;
    height: 55px;
  }

  .cont{
    margin-top: -275px;
  }

  .cont__heading {
      font-size: 80px;
  }

  .cont__cta{
    padding: 9px 29px;
  }

  .image_button_image{
    width:100px;
    height:34px;
  }

  .image_button{
    bottom: 0px;
    right:50px;
  }  
}

@media all and (max-device-width: 320px){
  .logo{
    width: 45px;
    height: 45px;
  }

  .cont{
    margin-top: -220px;
  }

  .cont__heading {
      font-size: 50px;
  }

  .cont__cta{
    padding: 5px 20px;
  }

  .image_button_image{
    width:90px;
    height:29px;
  }

  .image_button{
    bottom:0 px;
    right:40px;
  }
}